* {
    margin: 0;
    padding: 0;

}

:root {
    --color-bk: #FFB953;
    --color-destaque: #5594CA;
}

html {
    width: 100%;
    }

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

/*--------------------header-----------------------*/
header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.banner {
    width: 100%;
    margin: auto;
}

img {
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
}


/*---------------------main-------------------------*/
.apresentacao {
    width: 90%;
    margin: 13px auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    box-shadow: 1px 1px 8px black;


}

.objt {
    width: 40%;
    padding: 5px;
    text-align: center;
    font-style: oblique;

}

.slogan {
    width: 55%;
    padding: 15px;
    margin: 2% auto;
    border: 2px solid var(--color-bk);
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;



}

.slogan .envolucro {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan p {
    width: 90%;
    font-style: oblique;


}

#flower {
    width: 100%;
    height: 90%;
}

p.strong {
    font-weight: bold;

}

h2 {
    width: 100%;
    margin: 10px auto;
    font-style: oblique;
    text-align:center;
    

}

.box-container {
    width: 100%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: var(--color-bk);*/
}

/*.box{
    width:100%;
    height: 500px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    background-color: var(--color-bk);
}*/
.box-segmento {
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    flex-wrap: wrap;
}


.card {
    background-color: var(--color-bk);
    width: 200px;
    height: 250px;
    margin: 10px;
    box-shadow: 3px 2px 10px #0c0c0c;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-family:Calibri,sans-serif;    
}

.logo {
    width: 90%;
    margin-top: 10px;

}

.infoCard {
    width: 95%;
    margin-top:2px;
    font-size: 1em;
    text-align: center;

}

.org-ctt {
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.card .org-ctt a {
    margin: auto;
    width: 90%;
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.miniWhats {
    width: 10%;
    height: 25px;

}

.pInfoCard {
    width: 90%;

}

.icon-wt {
    width: 15%;
    height: 20px;
}

.pInfoCard2 {
    width: 10%;

}

.propaganda {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    box-shadow: 1px 1px 8px black;
    font-style: oblique;
    text-align: center;
    line-height: 35px;


}

.captura {
    width: 40%;
    padding: 20px;
    margin: 1% auto;
    border: 2px solid var(--color-bk);
    border-radius: 15px;
    text-align: center;
    line-height: 35px;
}

.btn-direcionaonamento {
    width: 99%;
    height: auto;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.btn-direcionaonamento a button {
    width: 100%;
    height: 30px;
    margin: 15px auto;
    background-color: var(--color-bk);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 2px;
}

.btn-direcionaonamento a img {
    width: 20px;
    height: 20x;

}


.suporte{
    width:80%;
    margin:5px auto;
    border:2px solid var(--color-bk);
    border-radius:10px;
    overflow: hidden;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-family:Calibri,sans-serif;

}
.card-suporte{
    background-color: var(--color-bk);
    width: 150px;
    height: 200px;
    margin: 10px;
    box-shadow: 3px 2px 10px #0c0c0c;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.card-suporte a {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.card-suporte p{
    border:3px solid #40c351;
    border-radius:10px;
    padding:2px;
    color:#40c351;
    font-size: large;
    font-family: 'Franklin Gothic Medium',sans-serif;
}
.card-suporte a img {
    width:90%;
    height:90%;
}
.tipo-suporte{
    width:70%;
    margin:auto;
    text-align: justify;
    font-size: x-large;
    line-height:120%;
}
.tipo-suporte strong{
    color: #40c351;
    font-family: 'Franklin Gothic Medium',sans-serif;
}


.item-suporte{
    width:25px;
    height:30px;
}
/*---------------------fim/main-------------------------*/


footer {
    width: 95%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    border-top: 3px solid var(--color-bk);
    font-size: 1em;
    font-family:Calibri,sans-serif;


}
h4{
    margin:10px auto;
}


.info {
    width: 90%;
    height: 50%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.localizacao,
.redes-sociais,
.fale-comigo {
    width: 25%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.redes-sociais a,
.fale-comigo a {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;

}

.icon-me {
    width: 25px;
    height: 25px;
}

.visitantes{
    width:100px;
    height:10px;
}

@media(max-width: 992px) {
    .prop {
        width: 45%;
        display: flex;
        flex-direction: column;
        line-height: 25px;
    }

    .captura {
        width: 50%;
        padding: 10px;
        line-height: 30px;
    }

    .suporte{
        width:80%;
        padding:10px;
        font-size:0.3em;
    }

    .tipo-suporte{
        font-size:4em;

    }
    .info {
        width:50%;
        position: relative;
        left: 10%;
        display: flex;
        flex-direction: column;
    }

    .redes-sociais,
    .fale-comigo {
        width: 100%;
        align-items: start;
    }

    .localizacao {
        display: none;
    }

}

@media(max-width:700px) {
    .apresentacao {
        padding: 1px;
        flex-direction: column;
    }

    .objt {
        width: 90%;
    }

    .slogan {
        width: 70%;
    }

    .slogan p {
        width: 90%;

    }

    p.strong {
        width: 90%;
    }

    .propaganda {
        flex-direction: column;
        padding: 1px;

    }

    .prop {
        width: 90%;
    }

    .captura {
        width: 70%;
        padding: 5px;
    }
    .tipo-suporte p{
        padding:3px;
        font-size: 0.8em;
    }


    .info {
        width:60%;
        position: relative;
        left: 5%;
    }
}

@media(max-width:500px) {


    .slogan{
        flex-direction:column-reverse;
        font-size: 0.9em;
        margin:0;
    }
    .envolucro{
        margin:1px;
    }
    
    footer {
        margin: 10px auto;
        font-size: 0.8em;
    }
    .suporte{
        flex-direction: column-reverse;
    }
    .suporte .card-suporte{
        height:40px;
        border:3px solid #40c351;
    }
    .suporte .card-suporte a{
        flex-direction: row;
    }
    .suporte .card-suporte a img{
        width:25px;
        height:25px;
    }
    .suporte .card-suporte a p{
        border:none;
    }
    .info {
        position: relative;
        left: 3%;
        gap: 5px;
        font-size: 0.8em;
    }
}

